{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}"/>
{% endblock %}

{% block content %}

    <section id="summary">
        <h2>{{ post.title }}</h2>
            <div>
                {% for tag in post_tags %}
                <span class="tag">{{ tag.caption }}</span>
                {% endfor %}
            </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>
                <a href="mailto:{{ post.author.email_address }}">By {{ post.author }}</a>
            </address>

            <div>
                Last updated:
                <time>{{ post.date|date:'d M Y' }}</time>
            </div>
        </article>
    </section>

    <main>
        {{ post.content|linebreaks }}
        {% if post.comments.exists %}
            <ul>
                {% for comment in post.comments.all %}
                    <li>{{ comment.content }}</li>
                    <li>{{ comment.date }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments yet.</p>
        {% endif %}

        <section id="add-comment">
            <h3>Add a Comment</h3>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

{% endblock %}